<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/foundation.min.css" />
    <script type="text/javascript" async="async" defer="defer" src="application.js"></script>
  </head>
  <body>
    <div id="app" class="row">
      <h4>Cargando...</h4>
    </div>
  </body>
</html>
